
doctype html
html
  head
    title Jenny Dance Academy
    block scripts
      include ../static/index.js
    block style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo 
                img(src="/static/logo.png")
                | JDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            Li #[a(href="/contact") Contact Us]
  block content
  block footoer
      footer#footer 
        | Copyright © 2022 Jenny'sDanceAcademy.com | All rights reserved